* {
  margin: 0;
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

img {
  height: auto;
  width: auto;
}

.icons {
  display: flex;
  justify-content: center;
}