.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.d-flex {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 20%;
}

.card-img-top {
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: center;
}